@use '../../../styles/responsive' as *;

.button {
	display: flex;
	padding: 0 30px;
	min-height: 60px;
	width: max-content;
	justify-content: center;
	align-items: center;
	background: var(--color-primary);
	border-radius: 20px;
	color: #212121;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease;
	font-family: inherit;
	@include mobile {
		font-size: 1rem;
		min-height: 36px;
		border-radius: 10px;
	}
	&:hover {
		transform: translateY(-2px);
	}
	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}
