@use '../../styles/responsive' as *;

.header {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	width: 100%;
	min-height: 85px;
	background-color: #000000;
	padding: 0 16px;
	position: fixed;
	top: 34px;
	left: 0;
	z-index: 100;
	gap: 20px;
	
	@include mobile {
		grid-template-columns: 1fr auto;
		gap: 10px;
	}

	&__left {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 10px;
		align-items: center;
		
		@include mobile {
			grid-column: span 2;
		}
		
		&__button {
			justify-self: flex-start;
			background-color: transparent;
			border: none;
			cursor: pointer;
			display: none;
			
			@include mobile {
				display: block;
			}
		}
		
		&__location {
			display: flex;
			align-items: center;
			gap: 5px;
			color: var(--color-1);
			font-size: 1rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			
			@include mobile {
				font-size: 0.75rem;
			}
		}
	}

	&__nav {
		display: flex;
		justify-content: center;
		flex: 1;
		
		@include mobile {
			display: none;
		}
		
		&__list {
			display: flex;
			gap: 2rem;
			list-style: none;
			align-items: center;
			
			&__item {
				&__link {
					color: var(--color-1);
					font-size: 1rem;
					font-weight: 400;
					text-decoration: none;
					transition: color 0.3s ease;
					white-space: nowrap;
					
					&:hover {
						color: var(--color-primary);
					}
				}
			}
		}
	}

	&__logo {
		justify-self: flex-end;
		width: max-content;
		
		@include mobile {
			justify-self: center;
		}
	}
	&__menu {
		display: none;
		
		@include mobile {
			display: flex;
			position: fixed;
			top: 34px;
			left: 0;
			width: 100%;
			height: calc(100vh - 34px);
			max-width: 308px;
			padding: 33px;
			background-color: #212121;
			color: var(--color-1);
			transform: translateX(-100%);
			transition: transform 0.3s ease-in-out;
			z-index: 1;
			
			&.open {
				transform: translateX(0);
			}
		}
		&__close {
			position: absolute;
			top: 25px;
			right: 21px;
			background-color: transparent;
			border: none;
			color: #fff;
			cursor: pointer;
		}
		&__list {
			display: flex;
			flex-direction: column;
			gap: 63px;
			list-style: none;
			margin-top: 100px;
			@include mobile {
				gap: 40px;
				margin-top: 30px;
			}
			&__item {
				font-size: 2rem;
				font-style: normal;
				font-weight: 400;
				line-height: 100.776%;
				@include mobile {
					font-size: 1.5rem;
				}
			}
		}
	}
	&__menu_overlay {
		display: none;
		
		@include mobile {
			display: block;
			position: fixed;
			top: 34px;
			left: 0;
			width: 100%;
			height: calc(100vh - 34px);
		}
	}
}
