@use '../../styles/responsive' as *;

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	min-height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 200;
	padding: 1rem;
	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(8px);
	}
	&__close {
		position: absolute;
		top: 1rem;
		right: 1rem;
		background: none;
		border: none;
		cursor: pointer;
		color: #fff;
		transition: 0.3s ease;
		animation: scale 0.3s ease;
		&:hover {
			transform: scale(1.1);
		}
	}
}

.booking {
	display: grid;
	gap: 21px;
	padding: 28px 71px;
	padding-bottom: 35px;
	border-radius: 28px;
	background: var(--color-primary);
	width: 100%;
	max-width: 665px;
	z-index: 1;
	animation: scale 0.3s ease;
	box-shadow:
		-21px 364px 102px 0px rgba(0, 0, 0, 0),
		-13px 233px 93px 0px rgba(0, 0, 0, 0.01),
		-7px 131px 79px 0px rgba(0, 0, 0, 0.05),
		-3px 58px 58px 0px rgba(0, 0, 0, 0.09),
		-1px 15px 32px 0px rgba(0, 0, 0, 0.1);
	::selection {
		color: var(--color-primary);
		background: var(--color-1);
	}
	@include mobile {
		padding: 2rem;
	}
	&__inputs {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 29px;
		@include mobile {
			min-width: initial;
		}
		&__container {
			display: grid;
			gap: 11px;
			justify-items: center;
			&__text {
				color: var(--background);
				font-size: 1.5rem;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
			&__item {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 220px;
				color: var(--background);
				text-align: center;
				border-radius: 20px;
				background: transparent;
				border: 3px solid #707070;
				cursor: pointer;
				font-family: inherit;
				transition: 0.3s ease;
				&:active {
					transform: scale(0.9);
				}
				@include mobile {
					height: auto;
					padding: 1rem 0;
				}
				&__text {
					color: var(--background);
					font-size: 1.5rem;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
				&__day {
					color: #212121;
					font-size: 9.375rem;
					font-style: normal;
					font-weight: 700;
					line-height: 1em;
					@include mobile {
						font-size: 3.25rem;
					}
				}
			}
		}
	}
	&__input {
		width: 70%;
		margin: 0 auto;
		padding: 10px;
		text-align: center;
		border: none;
		border-bottom: 2px solid #707070;
		background: transparent;
		color: #212121;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		font-family: inherit;
		outline: none;
		@include mobile {
			width: 100%;
			font-size: 1rem;
		}
	}
	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 30px;
		min-height: 43px;
		margin: 0 auto;
		border-radius: 30px;
		background: #000;
		border: none;
		color: #fff;
		text-align: center;
		font-family: inherit;
		color: #fff;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		cursor: pointer;
	}
}

@keyframes scale {
	0% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
