@use '../../styles/responsive' as *;

.scroll_indicator {
	position: fixed;
	bottom: 77px;
	left: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	z-index: 2;
	@include mobile {
		bottom: 20px;
		left: 10px;
	}
	&:before {
		content: '';
		height: 70px;
		width: 2px;
		background-color: var(--color-1);
		@include mobile {
			height: 50px;
		}
	}
	&__item {
		width: 26px;
		height: 26px;
		background-color: transparent;
		border: 2px solid var(--color-1);
		border-radius: 50%;
		transition: background-color 0.3s ease;
		cursor: pointer;
		&.active {
			background-color: var(--color-1);
		}
		@include mobile {
			width: 10px;
			height: 10px;
		}
	}
}
